<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head ::head"></div>
    <title>Activity</title>
</head>
<body>

<div th:replace="fragments/navbar ::navbar"></div>

<div class="container">
    <h1 id="activity">Activity </h1>
    </br>
    <h2>All efforts</h2>
    </br>
    <table class="table table-striped" id="effortTable">
        <thead>
        <tr>
            <th scope="col">Distance</th>
            <th scope="col">Time</th>
            <th scope="col">Pace</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    $("#navActivities").addClass("active");
    const ID = window.location.href.split("/").pop();

    $.getJSON("/api/activities/" + ID, function (data) {
        $("#activity").text( "Activity " + data.name);
    }).fail(function (){window.location.href = "/error"});

    $.getJSON("/api/activities/" + ID + "/efforts", function (data) {
        populateTable(data);
    })

    function populateTable(data) {
        const table = $('#effortTable')
        console.log(data)
        for (const d of data) {
            const row = `<tr>
                  <td><a href="/distance/${d.distance.id}">${d.distance.name}</a></td>
                  <td>${secondsToString(d.time)}</td>
                  <td>${secondsToString(d.time / d.distance.length * 1000)}</td>
                  `
            table.append(row)
        }
    }
</script>

<div th:replace="fragments/footer ::footer"></div>

</body>
</html>